{% extends "layout.html" %}


{% block header %}

{% if not 'USER' in session %}
    
    <div class="flex-inline">
        <form action="/" method="post" id="login-form">
                <label class="inline" for="username"><input class="input" id="username"name="username" type="text" placeholder="Username" autocomplete="off" autofocus required/></label>
                <label class="inline" for="password"><input class="input" id="password" name="password" type="password" placeholder="Password" required/></label>
                <button type="submit">Log in</button>
        </form>
        <a href="/register">Register</a>
    </div>
    {% else %}
    <div class="flex-inline">
        <p class="green-text" id="welcome">Welcome, <a href="/profile?id={{ session['USER'] }}" class="plain">{{ session['USERNAME'] }}!</a></p>
        <a href="/logout">Log out</a>
    </div>

{% endif %}

{% endblock %}


{% block main %}

    <form action="/input" method="post">
        <fieldset class="flex-block">
            <legend><h2>Record your match:</h2></legend>
            <label for="score">Score: </label>
            <input class="input" name="score" type="text" autocomplete="off" placeholder="Format: #-#(#-#) #-#(#-#)" autofocus required>
            <label for="opponent">Opponent: </label>
            <select class="input" name="opponent" required>
                {% for opponent in opponents %}
                    {% if opponent.id %}
                        <option value="{{ opponent.id }}">{{ opponent.first }} {{ opponent.last }} - Rank {{ opponent.rank }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <div class="inline" style="margin: 20px auto">
                <label for="is_win" class="inline"><input name="is_win" type="radio" value="0" required>Win against</label>
                <label for="is_win" class="inline"><input name="is_win" type="radio" value="1" required>Loss against</label>
            </div>
            <label for="date" style="text-align: center">Date played: <input class="input" name="date" type="date" required></label>
            <button class="block" id="register-button" type="submit">Submit</button>
        </fieldset>
    </form>

{% endblock %}