body {
    background-color: #202020;
    color: #dfdfdf;
}

header {
    background-color:indigo;
}

a {
    color: inherit;
    text-decoration: none;
}

hr {
    color:indigo;
}

/* Class selectors */

.no-margin {
    margin: 0;
}

.navbar-toggler {
    border: 2px solid;
}

.muted {
    font-size: x-small;
    color: #aaa
}

/* ID selectors*/

#header-row {
    min-height: 80px;
}

