{% extends "layout.html" %}


{% block header %}


{% if not 'USER' in session %}
    <div class="col-auto">
        <form action="/" method="post">    
            <input class="no-margin" id="username" name="username" type="text" placeholder="Username" autocomplete="off" autofocus required/>
            <input class="no-margin" id="password" name="password" type="password" placeholder="Password" required/>
            <button class="btn btn-light no-margin" type="submit">Log in</button>
        </form>
    </div>
    <div class="col-auto">
        <p class="text-end"><a href="/register">No account? Register!</a></p>
    </div>
    {% else %}
    <div class="col-auto">
        <div class="row justify-content-end">
            <div class="col-auto">
                <p></p>
                <p>Welcome, <a href="/profile?id={{ session['USER'] }}" class="plain">{{ session['USERNAME'] }}! </a></p>
            </div>
            <div class="col-auto">
                <div class="navbar">
                    <button class="navbar-toggler" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item active" href="/redirect_profile">Profile</a></li>
                    <li><a class="dropdown-item" href="/edit">Edit Profile</a></li>
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
    </div>
{% endif %}

{% endblock %}


{% block main %}

    <div class="container">
        <div class="p-3"></div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <form action="/edit" method="post">
                    <label class="form-label" for="name"><h1>{{ user.first }} {{ user.last }}</h1><input name="name" class="form-control" placeholder="Update name"></label>
                    <label class="form-label" for="name"></label><p>Username: {{ user.username }}<input name="username" class="form-control" placeholder="Update username"></p>
                    <label class="form-label" for="name"></label><p>Email: {{ user.email }}<input name="username" class="form-control" placeholder="Update email address"></p>
                    <label class="form-label" for="name"></label><p>Phone: {{ user.phone }} <input name="username" class="form-control" placeholder="Update phone number"></p>
                    <button class="btn btn-secondary btn-sm" type="button">Change password</button>
                    <div class="text-center p-3">
                        <button class="btn btn-secondary" type="submit">Update Profile</button>
                        <a href="/redirect_profile"><button class="btn btn-secondary" type="button">Cancel Changes</button></a>
                    </div>
                </form>
            </div>
        </div>

{% endblock %}