{% extends "layout.html" %}


{% block header %}


{% endblock %}


{% block main %}

    <div class="container">
        <div class="p-5"></div>
        <div class="row">
        <div class="col text-center"><h1>LP Ladder Ranks:</h1></div>
        </div>
        <hr class="border-4 opacity-100">
        <div class="row justify-content-center">
            <div class="col-9 p-3">
                <table class="table table-dark table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Name:</th>
                            <th>Rank:</th>
                            <th>Win:</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for players in players|sort(attribute='rank') %}
                            <tr>
                                <td><a href="/profile?id={{ players.id }}" style="text-decoration: none">{{ players.first }} {{ players.last }}</a></td>
                                <td>{{ players.rank }}</td>
                                <td>{% if players.matches %}
                                        {{ ((players.matches_won|count/players.matches|count)*100)|round|int }}%
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}