{% extends "layout.html" %}


{% block header %}


{% endblock %}


{% block main %}
    
    <div class="p-3"></div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            {% if not temp_matches %}
                <h2 class="text-center">No matches to confirm</h2>
            {%else %}            
                {% for match in temp_matches|sort(attribute='date', reverse=True)|sort(attribute='id', reverse=True) %}
                    <div class="row justify-content-center">
                        <div class="col-8">
                            {% if match.submit_by == session["USER"] %}
                                <form method="post">
                                    <fieldset>
                                        <legend><h2 class="text-center">Match waiting on confirmation:</h2></legend>
                                        <div class="col-12 col-lg-10 m-auto">
                                            <div class="row justify-content-between">
                                                <div class="col-auto">
                                                    <p>Score: {{ match.score }}</p>
                                                </div>
                                                <div class="col-auto">
                                                    <p>
                                                        {% if match.winner_id == session["USER"] %}
                                                            ({{ match.match_type }} - win)
                                                        {% else %}
                                                            ({{ match.match_type }} - loss)
                                                        {% endif %}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row justify-content-between">
                                                <div class="col-auto">
                                                    <p>Opponent:</p>
                                                </div>
                                                <div class="col-auto">
                                                    <p>
                                                        {%if match.winner_id == session["USER"] %} 
                                                            {{ match.loser.first }} {{ match.loser.last }}
                                                        {% else %}
                                                            {{ match.winner.first }} {{ match.winner.last }}
                                                        {% endif %} 
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row justify-content-between">
                                                <div class="col-auto">
                                                    <p>Date played:</p>
                                                </div>
                                                <div class="col-auto">
                                                    <p>{{ match.date() }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <input name="match_id" type="hidden" value="{{ match.id }}">
                                        <div class="text-center">
                                            <button class="btn btn-secondary" formaction="/delete_match">Delete Match</button>
                                        </div>
                                    </fieldset>
                                </form>
                                <hr class="border-4 opacity-100">
                            {% else %}
                                <form method="post">
                                    <fieldset>
                                        <legend><h2 class="text-center">Confirm your match:</h2></legend>
                                        <div class="col-12 col-lg-10 m-auto">
                                            <div class="row justify-content-between">
                                                <div class="col-auto">
                                                    <p>Score: {{ match.score }}</p>
                                                </div>
                                                <div class="col-auto">
                                                    <p>
                                                        {% if match.winner_id == session["USER"] %}
                                                            ({{ match.match_type }} - win)
                                                        {% else %}
                                                            ({{ match.match_type }} - loss)
                                                        {% endif %}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row justify-content-between">
                                                <div class="col-auto">
                                                    <p>Opponent:</p>
                                                </div>
                                                <div class="col-auto">
                                                    <p>
                                                        {%if match.winner_id == session["USER"] %} 
                                                            {{ match.loser.first }} {{ match.loser.last }}
                                                        {% else %}
                                                            {{ match.winner.first }} {{ match.winner.last }}
                                                        {% endif %} 
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row justify-content-between">
                                                <div class="col-auto">
                                                    <p>Date played:</p>
                                                </div>
                                                <div class="col-auto">
                                                    <p>{{ match.date() }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <input name="match_id" type="hidden" value="{{ match.id }}">
                                            <button class="btn btn-secondary" formaction="/confirm">Confirm</button>
                                            <button class="btn btn-secondary" formaction="/dispute">Dispute</button>
                                        </div>
                                    </fieldset>
                                </form>
                                <hr class="border-4 opacity-100">
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="text-center p-3"><form action="/redirect_profile"><button class="btn btn-secondary" type="submit">Back to Profile</button></form></div>
        </div>
    </div>

{% endblock %}