{% extends "layout.html" %}


{% block header %}


{% endblock %}


{% block main %}
    <div class="container">
        <div class="p-3"></div>
        <div class="row justify-content-center">
            <div class="col-auto">
                {% if not temp_matches %}
                    <h2>No matches to confirm</h2>
                {%else %}            
                    {% for match in temp_matches|sort(attribute='date') %}
                        {% if match.submit_by == session["USER"] %}
                            <form method="post">
                                <fieldset>
                                    <legend><h2>Match waiting on confirmation:</h2></legend>
                                    <p>Score: {{ match.score }}
                                        {% if match.winner_id == session["USER"] %}
                                            (win)
                                        {% else %}
                                            (loss)
                                        {% endif %}
                                    </p>
                                    <p>Opponent: 
                                        {%if match.winner_id == session["USER"] %} 
                                            {{ match.loser.first }} {{ match.loser.last }}
                                        {% else %}
                                            {{ match.winner.first }} {{ match.winner.last }}
                                        {% endif %}</p>
                                        <p>Date played: {{ match.date }}</p>
                                        <input name="match_id" type="hidden" value="{{ match.id }}">
                                        <div class="text-center">
                                            <button class="btn btn-secondary" formaction="/dispute">Delete Match</button>
                                        </div>
                                    </fieldset>
                            </form>
                            <hr class="border-4 opacity-100">
                        {% else %}
                            <form method="post">
                                <fieldset>
                                    <legend><h2>Confirm your match:</h2></legend>
                                        <p>Score: {{ match.score}} 
                                            {% if match.winner_id == session["USER"] %}
                                                (win)
                                            {% else %}
                                                (loss)
                                            {% endif %}
                                        </p>
                                        <p>Opponent: 
                                            {%if match.winner_id == session["USER"] %} 
                                                {{ match.loser.first }} {{ match.loser.last }}
                                            {% else %}
                                                {{ match.winner.first }} {{ match.winner.last }}
                                            {% endif %}
                                        </p>
                                        <p style="padding-bottom: 10px">Date played: {{ match.date }}</p>
                                    <div class="text-center">
                                    <input name="match_id" type="hidden" value="{{ match.id }}">
                                    <button class="btn btn-secondary" formaction="/confirm">Confirm</button>
                                    <button class="btn btn-secondary" formaction="/dispute">Dispute</button>
                                    </div>
                                </fieldset>
                            </form>
                            <hr class="border-4 opacity-100">
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <div class="text-center p-3"><form action="/redirect_profile"><button class="btn btn-secondary" type="submit">Back to Profile</button></form></div>
            </div>
        </div>
    </div>
{% endblock %}