{% extends "layout.html" %}

{% block header %}


{% endblock %} 


{% block main %}

    <div class="container p-3">
        <div class="row">
            <div class="col">
                <h1>Ladder Rules:</h1>
                <ul>
                    <li>You may issue one challenge at a time. If you want to challenge somebody, please reach out to them via email or text them. You can find people's contact information in their profile by clicking on their name.</li>
                    <li>You can only be challenged by one player/team at any given time. This prevents outstanding challenges from accumulating against you.</li>
                    <li>You may challenge up to 3 ranks above your own.</li>
                    <li>If the challenge is successful, you will take the spot of the person you challenge and your opponent will be bumped down one spot.</li>
                    <li>Once someone challenges you in a match, the match must be played within one week. If you cannot play the match and cannot work something out with the opposing player, the challenger will be rewarded with the win. </li>
                    <li>Once you have finished your match one player should input the score on their profile. The other player will then have to confirm the result for the match to post. If the result is disputed the match will be discarded and will have to be input again.</li>
                    <li>Matches must be input in the proper format: #-#(#-#) (eg. 6-2 6-2 or 6-4 7-6(7-5) etc.)</li>
                    <li>Initially the ladder will automatically place any new player at the bottom of the ladder. The whole point of this is to play a lot of matches. So have fun challenging people and climbing as high as you can!</li>
                </ul>
                <h1>Actual Play:</h1>
                <ul>
                    <li>Balls - Both players bring a new can of balls for play. The Challenger chooses which balls to use. The winner of the match takes the unopened can of balls</li>
                    <li>
                        Scoring - I'm strongly recommending the Fast 4 format
                        <ul>
                            <li>For the first two sets, the first to 4 games wins (win by 2 games)</li>
                            <li>If in a set you reach 4-4, then play a 7-point tie-breaker.</li>
                            <li>At one set all, play a 10-point tiebreaker</li>
                            <li>Play out lets</li>
                        </ul>
                    </li>
                    <li>You may play best of 3 sets to 6 games - if you know you have more than an hour of court time</li>
                    <li>If court time expires -- who won more games? That's the winner.</li>
                    <li>What happens in a tie? The higher-ranked player gets the win.</li>
                </ul>
                <h1>Scheduling:</h1>
                <ul>
                    <li>We all have busy schedules, but I'm hoping that we can do our best to play when somebody challenges you to a match. The more matches we play, the more fun this ladder will be! </li>
                    <li>Also, if you know of any other players who would like to join, it is not too late. They can simply join the bottom of the ladder and they can work their way up. </li>
                </ul>
                <p>Lastly, If you are interested in joining our WhatsApp chat, you can join the link here: <a href="https://chat.whatsapp.com/I7JrXZ8ujZyDCI306C0XFg"><button type="button" class="btn btn-secondary btn-sm">WhatsApp Chat</button></a></p>
                <div class="text-center p-3">
                    <a href="/">
                        <button type="button" class="btn btn-secondary">
                            I accept
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}