{% extends "layout.html" %}


{% block head %}

<script type ="text/javascript" src={{ url_for("static", filename="input.js") }} defer></script>

{% endblock %}


{% block main %}

    <div class="p-3"></div>
        <h2 class="text-center">Record your match:</h2>
        <hr class="border-4 opacity-100">
            <div class="row justify-content-center">
                <div class="col-10 col-md-6 p-3">
        <form action="/input" method="post">
                <fieldset>
                    <div class="row">
                        <div class="col-4 text-start">
                            <strong>1st Set: </strong>
                            <br>
                            <label class="mb-1"><input class="form-check-input" type="checkbox" id="1st-tie-check"><span class="muted">Tiebreak</span></label>
                            <div class="row">
                                <div class="col-auto">
                                    <select class="form-control" name="1st-winner" style="width: auto" autofocus required>
                                        <option value="None" selected>-</option>
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                    </select>
                                    <select class="form-control" name="1st-loser" style="width: auto" autofocus required>
                                        <option value="None" selected>-</option>
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                    </select>
                                </div>
                                <div class="col-auto" style="margin-left: -10px; display: none" id="1st-tiebreak">
                                    <select class="form-control" name="1st-tie-winner" id="1st-tie-winner" style="width: auto" autofocus required>
                                        <option value="None" selected>-</option>
                                        {% for i in range(100) %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                    </select>
                                    <select class="form-control" name="1st-tie-loser" id="1st-tie-loser" style="width: auto" autofocus required>
                                        <option value="None" selected>-</option>
                                        {% for i in range(100) %}
                                            <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 text-center">
                            <strong>2nd Set: </strong>
                            <br>
                            <label class="mb-1"><input class="form-check-input" type="checkbox" id="2nd-tie-check"><span class="muted">Tiebreak</span></label>
                            <div class="row justify-content-center">
                                <div class="col-auto">
                                    <select class="form-control" name="2nd-winner" style="width: auto" autofocus required>
                                        <option value="None" selected>-</option>
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                    </select>
                                    <select class="form-control" name="2nd-loser" style="width: auto" autofocus required>
                                        <option value="None" selected>-</option>
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                    </select>
                                </div>
                                <div class="col-auto" style="margin-left: -10px; display: none" id="2nd-tiebreak">
                                    <select class="form-control" name="2nd-tie-winner" id="2nd-tie-winner" style="width: auto" autofocus required>
                                        <option value="None" selected>-</option>
                                        {% for i in range(100) %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                    </select>
                                    <select class="form-control" name="2nd-tie-loser" id="2nd-tie-loser" style="width: auto" autofocus required>
                                        <option value="None" selected>-</option>
                                        {% for i in range(100) %}
                                            <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <strong>3rd Set: </strong>
                            <br>
                            <label class="mb-1"><input class="form-check-input" type="checkbox" id="3rd-tie-check"><span class="muted">Tiebreak</span></label>
                            <div class="row justify-content-end">
                                <div class="col-auto">
                                    <select class="form-control" name="3rd-winner" style="width: auto" autofocus required>
                                        <option value="None" selected>-</option>
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                    </select>
                                    <select class="form-control" name="3rd-loser" style="width: auto" autofocus required>
                                        <option value="None" selected>-</option>
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                    </select>
                                </div>
                                <div class="col-auto" style="margin-left: -10px; display: none" id="3rd-tiebreak">
                                    <select class="form-control" name="3rd-tie-winner" id="3rd-tie-winner" style="width: auto" autofocus required>
                                        <option value="None" selected>-</option>
                                        {% for i in range(100) %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                    </select>
                                    <select class="form-control" name="3rd-tie-loser" id="3rd-tie-loser" style="width: auto" autofocus required>
                                        <option value="None" selected>-</option>
                                        {% for i in range(100) %}
                                            <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <input class="form-check-input" name="type" id="friendly" type="checkbox" value="Friendly" autocomplete="off">
                        <label for="friendly" class="form-check-label">Friendly</label>
                    </div>
                    <div class="mb-3" id="challenge-opponents">
                        <label for="opponent" class="form-label"><strong>Opponent: </strong></label>
                        <select class="form-control" name="opponent" id="chall-opps" required>
                            {% if opponent %}
                                <option value="{{ opponent.id }}">{{ opponent.first }} {{ opponent.last }} - Rank {{ opponent.rank }}</option>
                            {% else %}
                                <option value="None" selected disabled>No challenge open!</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="mb-3" id="friendly-opponents" style="display: none">
                        <label for="opponent" class="form-label"><strong>Opponent: </strong></label>
                        <select class="form-control" name="opponent" id="friendly-opps" required>
                            <option value="None" selected disabled>Select an opponent</option>
                            {% for friendly in friendlies|sort(attribute='rank') %}
                                <option value="{{ friendly.id }}">{{ friendly.first }} {{ friendly.last }} - Rank {{ friendly.rank }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="p-1"></div>
                    <div class="form-check text-start mb-3">
                        <input class="form-check-input" name="is_win" type="radio" value="0" required>
                        <label for="is_win" class="form--check-label">Win against</label>
                    </div>
                    <div class="form-check text-start mb-3">
                        <input class="form-check-input" name="is_win" type="radio" value="1" required>
                        <label for="is_win" class="form-check-label">Loss against</label>
                    </div>
                    <div class="p-1"></div>
                    <div class="mb-3">
                        <label for="date_played">Date played: <input name="date_played" type="date" required></label>
                    </div>
                    <div class="row justify-content-center p-3">
                        <div class="col-auto">
                            <div class="text-center">
                                <button class="btn btn-secondary" type="submit">Submit</button>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="text-center">
                                <a href="/redirect_profile"><button class="btn btn-secondary" type="button">Cancel</button></a>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}