{% extends "layout.html" %}

{% block head %}

<script type ="text/javascript" src={{ url_for("static", filename="profile.js") }} defer></script>

{% endblock %}


{% block main %}

    <input type="hidden" id="user" value={{ user.id }}>
    <input type="hidden" id="profile" value={{ profile.id }}>
    <div class="p-3"></div>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <h1 class="text-center">{{ profile.first }} {{ profile.last }}</h1>
            <hr class="border-4 opacity-100">
            <div class="row">
                <div class="col-6" style="padding-left: 5%">
                    <p>
                        <strong>
                            Email:
                        </strong>
                        {{ profile.email }}
                    </p>
                    <p>
                        <strong>Phone

                        </strong>
                        {{ profile.phone }}
                    </p>
                    <p>
                        <strong>
                            Rank
                        </strong>
                        {{ profile.rank }}
                    </p>
                    <p><strong>
                        Total Matches:
                        </strong>
                        {{ profile.total_matches() }}
                    </p>
                    <p>
                        <strong>
                            Total Win Rate:
                        </strong>
                        {{ profile.win_rate() }}
                    </p>
                    <p>
                        <strong>
                            Challenge Win Rate:
                        </strong>
                        {{ profile.chall_win_rate() }}
                    </p>
                </div>
                <div class="col-6 text-end" style="padding-right: 5%">
                    <div class="row mb-3">
                        <div class="col-4"></div>
                        <div class="col-8 text-center">
                            <img src="/static/images/tennisballicon.avif" alt="Profile picture" class="rounded" width="100px" height="100px">
                        </div>
                    </div>
                    <p>
                        <strong>
                            Open Challenge:
                        </strong>
                        {{ profile.open_challenge() }}
                    </p>
                    <p id="h2h-t">
                        <span style="white-space: nowrap">
                            <strong>
                                You vs. {{ profile.first }} (Total):
                            </strong>
                        </span> 
                        <span style="white-space: nowrap">
                            {{ profile.h2h(user.id) }}
                        </span>
                    </p>
                    <p id="h2h-c">
                        <span style="white-space: nowrap">
                            <strong>
                                You vs. {{ profile.first }} (Challenge):
                            </strong>
                        </span> 
                        <span style="white-space: nowrap">
                            {{ profile.chall_h2h(user.id) }}
                        </span>
                    </p>
                </div>
            </div> 
            <div class="row justify-content-center">
                <div class="col-auto">
                    <div><a href="/input"><button class="btn btn-secondary mb-1" type="button" id="input-btn">Input Match Results</button></a></div>
                </div>
                <div class="col-auto">
                    <div><a href="/confirm"><button class="btn btn-secondary" type="button" id="confirm-btn">Confirm Match Results</button></a></div>
                </div>
            </div>
        </div>
    </div>
        <div class="row justify-content-center">
            <div class="p-3"></div>
            <hr class="border-4 opacity-100">
            <div class="col-12 col-lg-4" id="chat-col">
                <button class="btn btn-secondary mb-3" id="chat-btn" style="width: 100%" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Message {{ profile.first}}
                </button>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body text-bg-secondary mb-3" id="chat-box" style="color:black; min-height: 300px; max-height: 400px; overflow-y: scroll;">
                            {% for msg in messages|sort(attribute='timestamp') %}
                                <p><strong>{{ msg.sender.first }}:</strong> {{ msg.message }} <span class="muted">({{ msg.time }})</span></p>
                            {% endfor %}
                    </div>
                    <form class="text-end" id="private-msg-form" onsubmit="return false">
                        <input class="form-control text-bg-secondary text-start mb-2" type="text" name="message" id="message" placeholder="Message" autocomplete="off">
                        <input type="hidden" id="recipient" value="{{ profile.id }}">
                        <input type="hidden" id="user" value="{{ session['USER'] }}">
                        <button class="btn btn-secondary btn-sm" type="submit">Send</button>
                    </form>
                </div>
            </div>
            <div class="col-12 col-lg-4" id="notification-col">
                <button class="btn btn-secondary mb-3" id="chat-btn" style="width: 100%" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Notifications
                </button>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body text-bg-secondary" id="notification-box" style="color:black; max-height: 400px; overflow-y: auto">
                        {% if user.notifications %}
                            {% for notification in user.notifications %}
                                {% if notification.type == "CHALLENGE" %}
                                    <div class="alert alert-secondary alert-dismissible fade show text-bg-secondary" id={{ notification.id }} style="font-size: .8em" role="alert">
                                        <p>
                                            <strong>{{ notification.type }}!</strong>
                                            {{ notification.message }}
                                        </p>
                                        <button class="btn btn-dark btn-sm" name="accept" id={{ notification.id }} type="button" value={{ notification.originator_id }}>Accept</button>
                                        <button class="btn btn-dark btn-sm" name="decline" id={{ notification.id }} type="button" value={{ notification.originator_id }}>Decline</button>
                                        <p class="muted mb-0">{{ notification.timestamp }}</p>                             
                                    </div>
                                {% elif notification.type == "MESSAGE" %}
                                <div class="alert alert-secondary alert-dismissible fade show text-bg-secondary" style="font-size: .8em" role="alert">
                                    <p>
                                        <strong>{{ notification.type }}!</strong>
                                        {{ notification.message }}
                                    </p>
                                    <a href="/profile?id={{ notification.originator_id }}">
                                        <button class="btn btn-dark btn-sm" type="button" name="profile-btn" id={{ notification.id }}>Go to their profile</button>
                                    </a>
                                        <p class="muted mb-0">{{ notification.timestamp }}</p>  
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" name="close" id={{ notification.id }}></button>                           
                                </div>
                                {% else %}
                                <div class="alert alert-secondary alert-dismissible fade show text-bg-secondary" style="font-size: .8em" role="alert">
                                    <p>
                                        <strong>{{ notification.type }}!</strong>
                                        {{ notification.message }}
                                    </p>
                                    <p class="muted mb-0">{{ notification.timestamp }}</p>  
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" name="close" id={{ notification.id }}></button>                           
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <div class="alert alert-secondary alert-dismissible fade show text-bg-secondary" style="font-size: .8em" role="alert">
                            <strong>No notifications to show.</strong>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>  
            <div class="col-12 col-lg-8">
                <div class="row justify-content-start">
                    <div class="col-4"></div>
                    <div class="col-4 text-center">
                        <h1>Matches:</h1>
                    </div>
                    <div class="col-4 text-end align-self-end pb-2">
                        <input class="form-check-input" name="filter" type="checkbox" id="filter" autocomplete="off">
                        <label for="filter" class="form-check-label">Challenges</label>
                    </div>
                </div>
                <table class="table table-dark table-striped table-hover">
                    <thead>
                        <tr>
                            <th style="width: 20%">Result:</th>
                            <th style="width: 30%">Score:</th>
                            <th style="width: 20%">Date:</th>
                            <th style="width: 30%">Opponent:</th>
                        </tr>
                    </thead>
                    <tbody id="all-matches">
                        {% for match in profile.matches|sort(attribute='id', reverse=True)|sort(attribute='date_played', reverse=True) %}
                            <tr>
                                <td>
                                    {% if match.winner_id == profile.id %}
                                        Win
                                    {% else %}
                                        Loss
                                    {% endif %}
                                </td>
                                <td>{{ match.score }} <span class="muted">
                                    {% if match.match_type == "CHALLENGE" %}
                                        Challenge
                                    {% else %}
                                        Friendly
                                    {% endif %}
                                </span></td>
                                <td>{{ match.date() }}</td>
                                {% if match.winner_id == profile.id %}
                                <td><a href="/profile?id={{ match.loser_id }}">
                                    {% if match.loser.first %}
                                        {{ match.loser.first }} {{ match.loser.last }}
                                    {% else %}
                                        [Account Deleted]
                                    {% endif %}</a></td>
                                {% else %}
                                <td><a href="/profile?id={{ match.winner_id }}">
                                    {% if match.winner.first %}
                                        {{ match.winner.first }} {{ match.winner.last }}
                                    {% else %}
                                        [Account Deleted]
                                    {% endif %}</a></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tbody id="challenge-matches" style="display: none">
                        {% for match in profile.matches|sort(attribute='id', reverse=True)|sort(attribute='date_played', reverse=True) %}
                            {% if match.match_type == "CHALLENGE" %}
                                <tr>
                                    <td>
                                        {% if match.winner_id == profile.id %}
                                            Win
                                        {% else %}
                                            Loss
                                        {% endif %}
                                    </td>
                                    <td>{{ match.score }} <span class="muted">Challenge</span></td>
                                    <td>{{ match.date() }}</td>
                                    {% if match.winner_id == profile.id %}
                                        <td><a href="/profile?id={{ match.loser_id }}">
                                        {% if match.loser.first %}
                                            {{ match.loser.first }} {{ match.loser.last }}
                                        {% else %}
                                            [Account Deleted]
                                        {% endif %}</a></td>
                                    {% else %}
                                    <td><a href="/profile?id={{ match.winner_id }}">
                                        {% if match.winner.first %}
                                            {{ match.winner.first }} {{ match.winner.last }}
                                        {% else %}
                                            [Account Deleted]
                                        {% endif %}</a></td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

{% endblock %}