{% extends "layout.html" %}

{% block head %}

<script type ="text/javascript" src={{ url_for("static", filename="profile.js") }} defer></script>

{% endblock %}


{% block main %}

    <div class="container">
        <div class="p-3"></div>
        <div class="row justify-content-center">
            {% if "USER" in session %}
                {% if profile.id != session["USER"] %}
                    <div class="col-12 col-lg-6">
                        <h1 class="text-center">{{ profile.first }} {{ profile.last }}</h1>
                        <hr class="border-4 opacity-100">
                        <div style="padding-left: 5%">
                            <p>Email: {{ profile.email }}</p>
                            <p>Phone: {{ profile.phone }}</p>
                            <p>Rank: {{ profile.rank }}</p>
                            <p>Total Matches: {{ stats[0] }}</p>
                            <p>Win: {{ stats[1] }}</p>
                            <p>Challenge win: {{ stats[2] }}</p>
                        </div> 
                    </div>
                {% else %}
                    <div class="col-12 col-lg-6">
                        <h1 class="text-center">{{ profile.first }} {{ profile.last }}</h1>
                        <hr class="border-4 opacity-100">
                        <div style="padding-left: 5%">
                            <p>Email: {{ profile.email }}</p>
                            <p>Phone: {{ profile.phone }}</p>
                            <p>Rank: {{ profile.rank }}</p>
                            <p>Total Matches: {{ stats[0] }}</p>
                            <p>Win: {{ stats[1] }}</p>
                            <p>Challenge win: {{ stats[2] }}</p>
                        </div>    
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <div><a href="/input"><button class="btn btn-secondary" type="button">Input Match Results</button></a></div>
                            </div>
                            <div class="col-auto">
                                <div><a href="/confirm"><button class="btn btn-secondary" type="button">Confirm Match Results</button></a></div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <div class="col-12 col-lg-6">
                    <h1 class="text-center">{{ profile.first }} {{ profile.last }}</h1>
                    <hr class="border-4 opacity-100">
                    <div style="padding-left: 5%">
                        <p>Email: {{ profile.email }}</p>
                        <p>Phone: {{ profile.phone }}</p>
                        <p>Rank: {{ profile.rank }}</p>
                        <p>Total Matches: {{ stats[0] }}</p>
                        <p>Win: {{ stats[1] }}</p>
                        <p>Challenge win: {{ stats[2] }}</p>
                    </div> 
            {% endif %}
        </div>
        <div class="row justify-content-center">
            <div class="p-3"></div>
            <hr class="border-4 opacity-100">
            <div class="col-12 col-lg-4" id="chat-col">
                <button class="btn btn-secondary mb-3" id="chat-btn" style="width: 100%" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Message {{ profile.first}}
                </button>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body text-bg-secondary mb-3" id="chat-box" style="color:black; min-height: 300px; max-height: 400px; overflow-y: scroll;">
                            {% for msg in messages|sort(attribute='timestamp') %}
                                <p><strong>{{ msg.sender.first }}:</strong> {{ msg.message }} <span class="muted">({{ msg.time }})</span></p>
                            {% endfor %}
                    </div>
                    <form class="text-end" id="private-msg-form" onsubmit="return false">
                        <input class="form-control text-bg-secondary text-start mb-2" type="text" name="message" id="message" placeholder="Message" autocomplete="off">
                        <input type="hidden" id="recipient" value="{{ profile.id }}">
                        <input type="hidden" id="user" value="{{ session['USER'] }}">
                        <button class="btn btn-secondary btn-sm" type="submit">Send</button>
                    </form>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="row justify-content-start">
                    <div class="col-4"></div>
                    <div class="col-4 text-center">
                        <h1 class=>Matches:</h1>
                    </div>
                    <div class="col-4 text-end align-self-end pb-2">
                        <input class="form-check-input" name="filter" type="checkbox" id="filter" autocomplete="off">
                        <label for="filter" class="form--check-label">Challenges</label>
                    </div>
                </div>
                <table class="table table-dark table-striped table-hover">
                    <thead>
                        <tr>
                            <th style="width: 20%">Result:</th>
                            <th style="width: 30%">Score:</th>
                            <th style="width: 20%">Date:</th>
                            <th style="width: 30%">Opponent:</th>
                        </tr>
                    </thead>
                    <tbody id="all-matches">
                        {% for match in profile.matches|sort(attribute='id', reverse=True)|sort(attribute='date_played', reverse=True) %}
                            <tr>
                                <td>
                                    {% if match.winner_id == profile.id %}
                                        Win
                                    {% else %}
                                        Loss
                                    {% endif %}
                                </td>
                                <td>{{ match.score }} <span class="muted">{{ match.match_type }}</span></td>
                                <td>{{ match.date }}</td>
                                {% if match.winner_id == profile.id %}
                                <td><a href="/profile?id={{ match.loser_id }}">
                                    {% if match.loser.first %}
                                        {{ match.loser.first }} {{ match.loser.last }}
                                    {% else %}
                                        [Account Deleted]
                                    {% endif %}</a></td>
                                {% else %}
                                <td><a href="/profile?id={{ match.winner_id }}">
                                    {% if match.winner.first %}
                                        {{ match.winner.first }} {{ match.winner.last }}
                                    {% else %}
                                        [Account Deleted]
                                    {% endif %}</a></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tbody id="challenge-matches" style="display: none">
                        {% for match in profile.matches|sort(attribute='id', reverse=True)|sort(attribute='date_played', reverse=True) %}
                            {% if match.match_type == "Challenge" %}
                                <tr>
                                    <td>
                                        {% if match.winner_id == profile.id %}
                                            Win
                                        {% else %}
                                            Loss
                                        {% endif %}
                                    </td>
                                    <td>{{ match.score }} <span class="muted">{{ match.match_type }}</span></td>
                                    <td>{{ match.date }}</td>
                                    {% if match.winner_id == profile.id %}
                                    <td><a href="/profile?id={{ match.loser_id }}">
                                        {% if match.loser.first %}
                                            {{ match.loser.first }} {{ match.loser.last }}
                                        {% else %}
                                            [Account Deleted]
                                        {% endif %}</a></td>
                                    {% else %}
                                    <td><a href="/profile?id={{ match.winner_id }}">
                                        {% if match.winner.first %}
                                            {{ match.winner.first }} {{ match.winner.last }}
                                        {% else %}
                                            [Account Deleted]
                                        {% endif %}</a></td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}