{% extends "layout.html" %}


{% block main %}

    <div class="p-5"></div>
        <div class="row text-center">
                <legend><h2>Register your account:</h2></legend>
        </div>
        <hr class="border-4 opacity-100">
        <div class="row justify-content-center">
            <div class="col-6">
                <form action="/create" method="post">
                    <fieldset>
                        <div class="mb-3">
                            <label for="first" class="form-label">*First name: </label>
                            <input class="form-control" name="first" value="{{ first }}" type="text" autocomplete="off" placeholder="First name" autofocus required>
                        </div>
                        <div class="mb-3">
                            <label for="last" class="form-label">*Last name: </label>
                            <input class="form-control" name="last" value="{{ last }}" type="text" autocomplete="off" placeholder="Last name" required>
                        </div>
                        <div class="mb-3">
                            <label for="username" class="form-label">*Username: </label>
                            <input class="form-control" name="username" value="{{ username }}" type="text" autocomplete="off" maxlength="20" minlength="6" placeholder="6-20 characters" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">*Email: </label>
                            <input class="form-control" name="email" value="{{ email }}" type="email" autocomplete="off" placeholder="Email" required>
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">Phone number: </label>
                            <input class="form-control" name="phone" value="{{ phone }}" type="tel" autocomplete="off">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">*Password: </label>
                            <input class="form-control" name="password" value="{{ password }}" type="password" autocomplete="off" pattern="[a-zA-Z0-9!@#$%*_=+^&]{8,16}" required>
                        </div>
                        <div class="mb-3">
                            <label for="confirm" class="form-label">*Confirm password: </label>
                            <input class="form-control" name="confirm" value="{{ confirm }}" type="password" autocomplete="off" pattern="[a-zA-Z0-9!@#$%*_=+^&]{8,16}" required>
                        </div>
                        <div class="p-3 text-center">
                            <button class="btn btn-secondary" type="submit" id="register">Register</button>
                        </div>         
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

{% endblock %}